/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Header
-------------------------------------------------------------- */


/* =Media Queries
-------------------------------------------------------------- */

.has-pages #site-title {
  padding-left: 60px;
  background-image: url(/static/ubc_logo_small.png);
  background-repeat: no-repeat;
  background-position: 0;
}

#site-header {
  background-color: white;
}

.auth-nav-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .has-pages #site-title {
    padding-left: 80px;
    background-image: url(/static/ubc_logo_mid.png);
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}